albumentations
filesplit==3.0.1
opencv-python>=4.13
scikit-image
imgaug
pyclipper
lmdb
PyYAML
omegaconf
tqdm
PySimpleGUI-4-foss
easydict
scikit-learn
pandas
openpyxl
webdataset
numpy
protobuf
av
einops
paddleocr==2.10.0
paddle2onnx
onnxruntime-gpu
onnxruntime-directml;  sys_platform == 'win32'
