albumentations
filesplit==3.0.1
opencv-python
scikit-image
imgaug
pyclipper
lmdb
PyYAML
omegaconf
tqdm
PySimpleGUI-4-foss
easydict
scikit-learn
pandas
webdataset
numpy
protobuf
av
einops
paddleocr
paddle2onnx
onnxruntime-gpu
onnxruntime-directml;  sys_platform == 'win32'
